# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log

# OS-specific hidden files
.DS_Store
Thumbs.db
